
h1 {
  letter-spacing: 3px;
  color: white;
  text-align: center;
  font-family: ;
}

p {
  font-family: Georgia, serif;
  font-size: 20px;
}

body {

}
 .content{
  background-color: #23272a;

  margin: auto;
  min-height: 700px;
  padding: 50px;
  width: 80%;
  
  
}

/* From W3Schools */

/* Create two equal columns that floats next to each other */
.column {
  float: center;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
