
h1 {
  letter-spacing: 3px;
  text-align: center;
  font-family: ;
  font-size: 40px;
}

p {
  font-family: Georgia, serif;
  font-size: 20px;
}

body {

}
 .content{
  background-color: #F2F2F2;

  margin: auto;
  min-height: 700px;
  padding: 50px;
  width: 80%;
  
  
}
header {
  background-color: #7CDE7C;
  width: 80%;
  /* don't forget about hexcolors*/
}
/* From W3Schools */

/* Create two equal columns that floats next to each other */
.column {
  float: center;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
